@font-face {
  font-family: "Gilroy";
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src:
    local("Gilroy-Light"),
    url("../fonts/gilroylight.woff2") format("woff2"),
    url("../fonts/gilroylight.woff") format("woff");
}

@font-face {
  font-family: "Gilroy";
  font-weight: 800;
  font-style: normal;
  font-display: swap;
  src:
    local("Gilroy-ExtraBold"),
    url("../fonts/gilroyextrabold.woff2") format("woff2"),
    url("../fonts/gilroyextrabold.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src:
    local("Open Sans"),
    url("../fonts/opensans.woff2") format("woff2"),
    url("../fonts/opensans.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src:
    local("Open Sans Light"),
    url("../fonts/opensanslight.woff2") format("woff2"),
    url("../fonts/opensanslight.woff") format("woff");
}

:root {
  --basic-black: #000000;
  --basic-dark: #363636;
  --basic-grey: #464646;
  --basic-half-grey: #7e7e7e;
  --basic-grey-light: #e5e5e5;
  --basic-white: #ffffff;
  --basic-gainsboro: #dcdcdc;
  --basic-gainsboro-light: #d9d9d9;
  --basic-white-smoke: #ebebeb;

  --special-yellow: #f7e296;
  --special-yellow-dark: #f0c52e;
  --special-yellow-supernova: #ffc600;
  --special-green: #91c92f;

  --status-normal: #f2f2f2;
  --status-hover: #eaeaea;
  --status-invalid: #f6dada;
  --status-disabled: #a6a6a6;
}

body {
  min-width: 1200px;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  font-family: "Open Sans", "Arial", "Helvetica", sans-serif;
  color: var(--basic-black);
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.button {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  padding: 9px;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  font-family: "Gilroy", "Arial", "Helvetica", sans-serif;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-align: center;
  color: var(--basic-black);
  background-color: transparent;
  background-image: linear-gradient(180deg, transparent 40%, var(--special-yellow-dark) 40%, var(--special-yellow-dark) 57%, transparent 57%);
  border: none;
  cursor: pointer;
}

.button:hover,
.button:focus {
  background-color: var(--special-yellow-dark);
  background-image: none;
}

.button:active {
  color:rgba(1, 1, 1, 0.3)
}

.button-close {
  width: 55px;
  height: 55px;
  background-color: rgba(240, 197, 46, 0.5);
  background-image: url("../img/cross.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px 20px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.button-close:hover,
.button-close:focus {
  background-color: var(--special-yellow-dark);
}

.button-close:active {
  background-color: rgba(240, 197, 46, 0.3);
}

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}

.page {
  height: 100%;
}

.main,
.inner {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100%;
}

.title {
  margin: 0;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  font-family: "Gilroy", "Arial", "Helvetica", sans-serif;
}

/***************************************************

                    HEADER

***************************************************/

.header {
  padding: 0;
  padding-bottom: 50px;
  background-color: var(--special-yellow);
}

.main__header,
.inner__header {
  margin-top: 40px;
}

.inner__header {
  margin-bottom: 44px;
}

.header__top {
  display: grid;
  grid-template-columns: repeat(12, 60px);
  column-gap: 40px;
  margin-bottom: 50px;
}

.header__logo {
  grid-column: 1 / -1;
  margin-top: -20px;
  margin-right: auto;
  margin-bottom: 29px;
  margin-left: 60px;
}

.header__search-form {
  grid-column: 1 / span 4;
  width: 440px;
  margin-left: 60px;
}

.header__user {
  grid-column: 7 / -1;
  margin-right: 60px;
}

.header__nav {
  position: relative;
  display: flex;
  padding: 0 60px;
  grid-column: 1 / -1;
}

/************ Logo ************/

.logo__img {
  display: block;
}

.inner .logo:hover,
.inner .logo:focus {
  opacity: 0.6;
}

.inner .logo:active {
  opacity: 0.3;
}

/************ Search Form ************/

.search-form {
  display: flex;
}

.search-form__input {
  width: 100%;
  box-sizing: border-box;
  line-height: 20px;
  background-color: transparent;
  border: none;
  outline: none;
}

.search-form__input::placeholder {
  opacity: 0.3;
}

.search-form__input:hover::placeholder,
.search-form__input:focus::placeholder {
  opacity: 0.6;
}

.search-form__input:active::placeholder {
  opacity: 1;
}

.search-form__button {
  padding: 15px 17px;
  text-transform: uppercase;
  background-color: transparent;
  border: 2px solid var(--basic-black);
  cursor: pointer;
}

.search-form__button:hover,
.search-form__button:focus {
  color: var(--basic-white);
  background-color: var(--basic-black);
}

.search-form__button:active {
  color: rgba(255, 255, 255, 0.3);
}

/************ User Block ************/

.user-block {
  display: flex;
  justify-content: space-between;
  column-gap: 40px;
}

.auth {
  display: flex;
  column-gap: 40px;
}

.header__user .user-block__link:hover,
.header__user .user-block__link:focus {
  opacity: 0.6;
}

.header__user .user-block__link:active {
  opacity: 0.3;
}

.auth__link--loggedin {
  opacity: 0.3;
}

.cart {
  display: flex;
  column-gap: 40px;
}

/************ Main Navigation ************/

.nav__list--first {
  width: 540px;
}

.nav__dropdown {
  position: absolute;
  top: 52px;
  left: 0;
  z-index: 200;
  box-sizing: border-box;
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: repeat(3, auto);
  column-gap: 60px;
  row-gap: 20px;
  width: 100%;
  min-height: 145px;
  justify-content: start;
  padding: 0 60px 65px 60px;
  background-color: var(--special-yellow);
}

.nav__list--second {
  display: grid;
  width: 500px;
  grid-template-columns: min-content min-content 1fr;
  column-gap: 38px;
}

.nav__list--second .nav__item {
  display: flex;
  justify-content: flex-end;
}

.nav__link {
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  font-family: "Gilroy", "Arial", "Helvetica", sans-serif;
  letter-spacing: 0.2em;
  color: var(--basic-black);
  text-transform: uppercase;
}

.nav__link:hover,
.nav__link:focus {
  opacity: 0.6;
}

.nav__link:active {
  opacity: 0.3;
}

/************ Dropdown Menu ************/

.dropdown__link:hover,
.dropdown__link:focus {
  opacity: 0.6;
}

.dropdown__link:active {
  opacity: 0.3;
}

/***************************************************

                    MAIN

***************************************************/

/************ Slider Controls ************/

.slider-control {
  display: flex;
}

/************ Promo Sliders ************/

.main__promo {
  margin-bottom: 116px;
}

.slider {
  position: relative;
  display: grid;
  grid-template-columns: repeat(12, 60px);
  grid-template-rows: repeat(4, 1fr);
  column-gap: 40px;
  font-family: "Gilroy", "Arial", "Helvetica", sans-serif;
}

.slider::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -400;
  width: 100%;
  height: 115px;
  content: "";
  background-color: var(--special-yellow);
}

.slider__title {
  grid-column: 7 / -1;
}

.slider__img {
  order: -1;
  grid-column: 1 / span 6;
  grid-row: 1 / -1;
  justify-self: center;
}

.slider__text {
  margin: 0;
  padding-right: 75px;
  grid-column: 7 / -1;
  font-family: "Open Sans", "Arial", "Helvetica", sans-serif;
}

.slider__options {
  display: flex;
  margin: 0;
  padding: 0;
  margin-top: auto;
  order: 1;
  grid-column: 7 / -1;
}

.slider__options-wrap {
  display: flex;
  flex-direction: column-reverse;
  margin-right: 64px;
}

.slider__char {
  font-weight: 300;
  font-size: 13px;
  letter-spacing: 1.3px;
}

.slider__value {
  margin: 0;
  margin-bottom: 15px;
  font-size: 36px;
  letter-spacing: 3.6px;
}

.slider__button {
  grid-column: 7 / -1;
  align-self: center;
  justify-self: start;
}

/************ Popular ************/

.main__popular {
  margin-bottom: 164px;
}

.popular__grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  column-gap: 40px;
}

.popular__item {
  width: 160px;
  height: 160px;
}

.popular__title {
  position: relative;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  font-family: "Gilroy", "Arial", "Helvetica", sans-serif;
}

.popular__title::before {
  position: absolute;
  width: 160px;
  height: 160px;
  content: "";
  outline: 1px solid grey;
}

.popular__title:active {
  color: rgba(1, 1, 1, 0.3)
}

/************ Services ************/

.main__services {
  margin-bottom: 90px;
}

.services {
  background-color: var(--basic-grey-light);
}

.services__grid {
  display: grid;
  grid-template-columns: 360px 1fr;
  column-gap: 40px;
}

.services__tabs {
  display: flex;
  row-gap: 30px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.services__button {
  min-width: 160px;
}

.service__title {
  letter-spacing: 0.2em;
}

.service__text {
  margin: 0;
  line-height: 30px;
  letter-spacing: 0.1em;
}

.services__button:active,
.services__button--current {
  color: var(--special-yellow);
  background-color: var(--basic-black);
  background-image: none;
}

/************ Brands ************/

.main__brands {
  margin-bottom: 90px;
}

.brands__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 40px;
}

.brand {
  /** Временно **/
  height: 100px;
  outline: 1px solid grey;
}

/************ Info ************/

.info__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 40px;
}

.info__column {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}

.info__title {
  letter-spacing: 0.2em;
}

.info__text {
  margin: 0;
}

.info__button {
  min-width: 260px;
  margin-top: auto;
  align-self: flex-start;
}

.shipping__items {
  display: flex;
  flex-direction: column;
  margin-top: 60px;
}

.shipping__company {
  margin-bottom: 20px;
  font-weight: 800;
  font-size: 16px;
  line-height: 28px;
  font-family: "Gilroy", "Arial", "Helvetica", sans-serif;
}

/***************************************************

                    FOOTER

***************************************************/

.main__footer {
  margin-top: 80px;
}

.footer {
  color: var(--basic-white);
  background-color: var(--basic-dark);
}

.footer__grid {
  display: flex;
  flex-direction: column;
  padding-top: 46px;
  padding-bottom: 64px;
}

.footer__top {
  margin-bottom: 40px;
}

.footer__middle {
  margin-bottom: 48px;
}

.footer__row {
  display: flex;
  justify-content: space-between;
}

.footer__address {
  width: 240px;
  margin: 0;
  padding-right: 20px;
}

.footer__phone {
  width: 240px;
  padding-left: 20px;
  order: 1;
  text-align: right;
}

.footer__nav {
  display: flex;
  flex-wrap: wrap;
  max-width: 640px;
  column-gap: 36px;
}

.footer__bottom {
  align-items: center;
}

.footer__bottom::before {
  content: "";
  width: 80px;
  height: 7px;
  background-color: var(--special-yellow-supernova);
}

/************ User Block ************/

.footer__user .user-block__link {
  color: rgba(255, 255, 255, 0.7);
}

.footer__user .user-block__link:hover,
.footer__user .user-block__link:focus {
  color: var(--basic-white);
  opacity: 1;
}

.footer__user .user-block__link:active {
  opacity: 0.3;
}

/************ Footer Navigation ************/

.nav__link--footer {
  color: var(--basic-white);
}

/************ Socials ************/

.socials__list {
  display: flex;
  column-gap: 20px;
}

/***************************************************

                    CATALOG

***************************************************/

.catalog {
  overflow: hidden;
}

.catalog__grid-header {
  margin-bottom: 50px;
  padding-left: 60px;
}

.catalog__grid-content {
  display: grid;
  grid-template-columns: 328px 1fr;
}

.catalog__products {
  margin-left: 72px;
  padding-bottom: 78px;
}

.catalog__title {
  margin-bottom: 30px;
}

/************ Breadcrumbs ************/

.breadcrumbs {
  display: flex;
}

.breadcrumbs__link {
  padding-right: 40px;
  font-size: 14px;
  line-height: 19px;
  opacity: 0.3;
}

.breadcrumbs__link:hover,
.breadcrumbs__link:focus {
  opacity: 0.6;
}

.breadcrumbs__link:active {
  opacity: 0.1;
}

/************ Filter ************/

.catalog__filter {
  position: relative;
  grid-row: 1 / -3;
  background-color: var(--basic-grey-light);
}

.catalog__filter::before {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -100;
  content: "";
  width: 100vw;
  min-height: 100%;
  background-color: inherit;
}

.filter__form {
  margin: 70px 68px 0 60px;
  background-color: var(--basic-grey-light);
}

.filter__title-wrap {
  position: relative;
  z-index: 100;
  box-sizing: border-box;
  min-height: 70px;
  padding: 25px 25px 25px 60px;
  background-color: var(--basic-gainsboro);
}

.filter__title-wrap::before {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -200;
  content: "";
  width: 100vw;
  min-height: 100%;
  background-color: inherit;
}

.filter__title {
  margin: 0;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  font-family: "Gilroy", "Arial", "Helvetica", sans-serif;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.form-filter__group {
  font-size: 14px;
  line-height: 19px;
}

.form-filter__group--price {
  line-height: 16px;
  font-family: "Gilroy", "Arial", "Helvetica", sans-serif;
}

.form-filter__title {
  font-weight: 800;
  line-height: 17px;
  font-family: "Gilroy", "Arial", "Helvetica", sans-serif;
  letter-spacing: 0.1em;
}

.form-filter__input:disabled + .form-filter__label {
  color: var(--status-disabled);
}

/************ Sorting ************/

.catalog__sorting {
  position: relative;
  display: flex;
  min-height: 70px;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 70px;
  padding: 25px 0 25px 72px;
}

.catalog__sorting::after {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -300;
  content: "";
  width: 100vw;
  min-height: 100%;
  background-color: inherit;
}

.sorting {
  background-color: var(--basic-grey-light);
}

.sorting__title {
  margin: 0;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  font-family: "Gilroy", "Arial", "Helvetica", sans-serif;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.sorting__list {
  display: flex;
}

.sorting__link {
  opacity: 0.3;
}

.sorting__link:hover,
.sorting__link:focus {
  opacity: 0.6;
}

.sorting__link--current,
.sorting__link:active {
  opacity: 1;
}

/************ Products ************/

.products__grid {
  display: grid;
  margin-bottom: 40px;
  grid-template-columns: 1fr 1fr;
  column-gap: 40px;
  row-gap: 48px;
}

.product {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 120px;
  grid-template-rows: 380px 1fr;
  row-gap: 30px;
}

.product__title {
  order: 3;
  margin: 0;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  font-family: "Gilroy", "Arial", "Helvetica", sans-serif;
  letter-spacing: 0.05em;
}

.product__img-container {
  grid-column: 1 / -1;
}

.product__img {
  width: 360px;
  height: 380px;
}

.product__price {
  order: 4;
  font-size: 16px;
  line-height: 18px;
  font-family: "Gilroy", "Arial", "Helvetica", sans-serif;
  letter-spacing: 0.05em;
  text-align: right;
}

.product__links-wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  display: none;
  flex-direction: column;
  align-items: stretch;
  min-width: 200px;
  transform: translate(-50%, -50%);
  text-align: center;
}

.product:hover .product__links-wrap {
  display: flex;
}

.product__compare {
  opacity: 0.5;
}

.product__compare:hover,
.product__compare:focus {
  opacity: 1;
}

.product__compare:active {
  opacity: 0.1;
}

/************ Pagination ************/

.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  font-family: "Gilroy", "Arial", "Helvetica", sans-serif;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  background-color: var(--basic-white-smoke);
}

.pagination__button {
  padding: 25px 30px;
}

.pagination__button:hover,
.pagination__button:focus {
  background-color: var(--basic-gainsboro-light);
}

.pagination__button:active {
  color: rgba(0, 0, 0, 0.3);
}

.pagination__list {
  display: flex;
  column-gap: 30px;
  max-width: 450px;
}

.pagination__link {
  opacity: 0.3
}

.pagination__link:hover,
.pagination__link:focus {
  opacity: 0.6;
}

.pagination__link--current,
.pagination__link:active {
  opacity: 1;
}

/***************************************************

                    POPUP

***************************************************/

/************ Feedback ************/

.feedback {
  box-sizing: border-box;
  width: 960px;
  padding: 92px 100px 60px 100px;
  font-family: "Gilroy", "Arial", "Helvetica", sans-serif;
  background-color: var(--basic-white);
  box-shadow: 0 10px 16px rgba(0, 0, 0, 0.15);
}

.feedback__form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, auto);
  column-gap: 40px;
  row-gap: 32px;
}

.field {
  display: flex;
  flex-direction: column;
}

.field--max {
  grid-column: 1 / -1;
}

.field__name {
  margin-right: auto;
  margin-bottom: 10px;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
}

.field__input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 16px 20px 15px 20px;
  font-size: 14px;
  line-height: 16px;
  background-color: var(--status-normal);
  border: none;
}

.field__input--textarea {
  height: 167px;
}

.field__input--isresize {
  resize: none;
}

.field__input:hover {
  background-color: var(--status-hover);
}

.field__input:focus {
  background-color: transparent;
  outline: 2px solid var(--special-yellow);
}

.field__input:invalid {
  background-color: var(--status-invalid);
}

.field__input::placeholder {
  color: rgba(0, 0, 0, 0.4);
}

.feedback__button {
  min-width: 200px;
  margin-right: auto;
  grid-column: 1 / -1;
}
