/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 2 version,not dead,not ie <= 11
*/

@font-face {
  font-family: "Gilroy";
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src:
    local("Gilroy-Light"),
    url("../fonts/gilroylight.woff2") format("woff2"),
    url("../fonts/gilroylight.woff") format("woff");
}

@font-face {
  font-family: "Gilroy";
  font-weight: 800;
  font-style: normal;
  font-display: swap;
  src:
    local("Gilroy-ExtraBold"),
    url("../fonts/gilroyextrabold.woff2") format("woff2"),
    url("../fonts/gilroyextrabold.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src:
    local("Open Sans"),
    url("../fonts/opensans.woff2") format("woff2"),
    url("../fonts/opensans.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src:
    local("Open Sans Light"),
    url("../fonts/opensanslight.woff2") format("woff2"),
    url("../fonts/opensanslight.woff") format("woff");
}

:root {
  --basic-black: #000000;
  --basic-dark: #363636;
  --basic-grey: #464646;
  --basic-half-grey: #7e7e7e;
  --basic-grey-light: #e5e5e5;
  --basic-silver: #c4c4c4;
  --basic-white: #ffffff;
  --basic-gainsboro: #dcdcdc;
  --basic-gainsboro-light: #d9d9d9;
  --basic-white-smoke: #ebebeb;

  --special-yellow: #f7e296;
  --special-yellow-dark: #f0c52e;
  --special-yellow-supernova: #ffc600;
  --special-green: #91c92f;

  --status-normal: #f2f2f2;
  --status-hover: #eaeaea;
  --status-invalid: #f6dada;
  --status-disabled: #a6a6a6;
}

body {
  min-width: 1200px;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  font-family: "Open Sans", "Arial", sans-serif;
  color: var(--basic-black);
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.svg-sprite {
  display: none;
}

.button {
  position: relative;
  z-index: 700;
  display: inline-block;
  box-sizing: border-box;
  padding: 9px;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  font-family: "Gilroy", "Arial", sans-serif;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-align: center;
  color: var(--basic-black);
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.button::before {
  position: absolute;
  top: 50%;
  left: 0;
  z-index: -400;
  width: 100%;
  height: 8px;
  background-color: var(--special-yellow-dark);
  transform: translateY(-50%);
  content: "";
  transition: height 0.2s ease-in-out;
}

.button:hover::before,
.button:focus::before {
  height: 100%;
}

.button:active {
  color:rgba(1, 1, 1, 0.3)
}

.button-close {
  width: 55px;
  height: 55px;
  background-color: rgba(240, 197, 46, 0.5);
  background-image: url("../img/cross.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px 20px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.button-close:hover,
.button-close:focus {
  background-color: var(--special-yellow-dark);
}

.button-close:active {
  background-color: rgba(240, 197, 46, 0.3);
}

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}

.page {
  height: 100%;
}

.main,
.inner {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100%;
}

.title {
  margin: 0;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  font-family: "Gilroy", "Arial", sans-serif;
}

/***************************************************

                    HEADER

***************************************************/

.header {
  padding: 0;
  padding-bottom: 50px;
  background-color: var(--special-yellow);
  z-index: 500;
}

.main__header,
.inner__header {
  margin-top: 20px;
}

.inner__header {
  margin-bottom: 44px;
}

.header__top {
  display: grid;
  grid-template-columns: repeat(12, 60px);
  -moz-column-gap: 40px;
       column-gap: 40px;
  margin-bottom: 34px;
}

.header__logo {
  grid-column: 1 / -1;
  margin-top: -20px;
  margin-right: auto;
  margin-bottom: 15px;
  margin-left: 60px;
}

.header__search-form {
  grid-column: 1 / span 4;
  width: 440px;
  height: 50px;
  margin-left: 60px;
}

.header__user {
  grid-column: 7 / -1;
  margin-top: 14px;
  margin-right: 60px;
}

.header__nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0 60px;
  grid-column: 1 / -1;
}

/************ Logo ************/

.logo__img {
  display: block;
}

.inner .logo:hover,
.inner .logo:focus {
  opacity: 0.6;
}

.inner .logo:active {
  opacity: 0.3;
}

/************ Search Form ************/

.search-form {
  display: flex;
}

.search-form__input {
  box-sizing: border-box;
  width: 100%;
  padding: 5px 38px;
  line-height: 20px;
  border: none;
  outline: none;
  border-bottom: 2px solid transparent;
  background: transparent url("../img/search.svg") no-repeat left center;
}

.search-form__input::-webkit-input-placeholder {
  opacity: 0.3;
}

.search-form__input::-moz-placeholder {
  opacity: 0.3;
}

.search-form__input::placeholder {
  opacity: 0.3;
}

.search-form__input:hover::-webkit-input-placeholder, .search-form__input:focus::-webkit-input-placeholder {
  opacity: 0.6;
}

.search-form__input:hover::-moz-placeholder, .search-form__input:focus::-moz-placeholder {
  opacity: 0.6;
}

.search-form__input:hover::placeholder,
.search-form__input:focus::placeholder {
  opacity: 0.6;
}

.search-form__input:focus,
.search-form__input:active {
  border-bottom-color: var(--basic-black);
}

.search-form__input:active::-webkit-input-placeholder {
  opacity: 1;
}

.search-form__input:active::-moz-placeholder {
  opacity: 1;
}

.search-form__input:active::placeholder {
  opacity: 1;
}

.search-form__button {
  display: none;
  padding: 15px 17px;
  text-transform: uppercase;
  background-color: transparent;
  border: 2px solid var(--basic-black);
  cursor: pointer;
}

.search-form__input:focus + .search-form__button,
.search-form__input:active + .search-form__button {
  display: block;
}

.search-form__button:hover,
.search-form__button:focus {
  display: block;
  color: var(--basic-white);
  background-color: var(--basic-black);
}

.search-form__button:active {
  color: rgba(255, 255, 255, 0.3);
}

/************ User Block ************/

.user-block {
  display: flex;
  justify-content: space-between;
  align-items: flex-start ;
  -moz-column-gap: 40px;
       column-gap: 40px;
}

.user-block__link {
  display: flex;
  align-items: center;
  -moz-column-gap: 13px;
       column-gap: 13px;
}

.auth {
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
}

.header__user .user-block__link:hover,
.header__user .user-block__link:focus {
  opacity: 0.6;
}

.header__user .user-block__link:active {
  opacity: 0.3;
}

.auth__link--loggedin {
  opacity: 0.3;
}

.cart {
  display: flex;
  -moz-column-gap: 40px;
       column-gap: 40px;
}

/************ Main Navigation ************/

.nav__list--first {
  margin-right: auto;
}

.nav__item {
  display: flex;
}

.nav__item--catalog {
  flex-wrap: wrap;
  align-items: flex-start;
}

.nav__item--catalog::after {
  z-index: 300;
  content: "";
  width: 22px;
  height: 22px;
  margin-left: 13px;
  background: url("../img/plus.svg") no-repeat center;
  opacity: 0.3;
}

.nav__list--second {
  display: grid;
  width: 500px;
  grid-template-columns: -webkit-min-content -webkit-min-content 1fr;
  grid-template-columns: min-content min-content 1fr;
  -moz-column-gap: 35px;
       column-gap: 35px;
}

.nav__list--second .nav__item {
  justify-content: flex-end;
}

.nav__list--second .nav__item:last-child {
  margin-right: -4px;
}

.nav__link {
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  font-family: "Gilroy", "Arial", sans-serif;
  letter-spacing: 0.2em;
  color: var(--basic-black);
  text-transform: uppercase;
}

.nav__link--header {
  position: relative;
  z-index: 300;
}

.nav__link--header-catalog {
  flex-shrink: 0;
}

.nav__link:hover,
.nav__link:focus {
  opacity: 0.6;
}

.nav__link:active {
  opacity: 0.3;
}

/************ Dropdown Menu ************/

.dropdown {
  box-sizing: border-box;
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: repeat(3, auto);
  -moz-column-gap: 65px;
       column-gap: 65px;
  row-gap: 16px;
  width: 100%;
  min-height: 145px;
  justify-content: start;
  background-color: var(--special-yellow);
}

.dropdown__link:hover,
.dropdown__link:focus {
  opacity: 0.6;
}

.dropdown__link:active {
  opacity: 0.3;
}

.nav__dropdown {
  display: none;
  order: 3;
  z-index: 200;
}

.nav__item--catalog:hover .nav__dropdown,
.nav__item--catalog:focus-within .nav__dropdown {
  position: absolute;
  left: 0;
  display: grid;
  padding-top: 52px;
  padding-bottom: 43px;
  padding-left: 60px;
}

/***************************************************

                    MAIN

***************************************************/


/************ Promo Sliders ************/

.main__promo {
  position: relative;
  margin-bottom: 84px;
}

.slider {
  position: relative;
  display: none;
  min-height: 506px;
  grid-template-columns: repeat(12, 60px);
  grid-template-rows: -webkit-min-content -webkit-min-content 40px 103px;
  grid-template-rows: min-content min-content 40px 103px;
  -moz-column-gap: 40px;
       column-gap: 40px;
  row-gap: 25px;
  font-family: "Gilroy", "Arial", sans-serif;
  background-image: linear-gradient(var(--special-yellow) 115px, var(--basic-white) 115px);
}

.slider--current {
  display: grid;
}

.slider::before {
  position: absolute;
  top: 19px;
  left: 0;
  width: 100px;
  height: 7px;
  grid-column-start: 7;
  content: "";
  background-color: var(--basic-white);
}

.slider::after {
  position: absolute;
  right: 50px;
  top: -13px;
  content: "";
  min-width: 212px;
  font-weight: 800;
  font-size: 179px;
  line-height: 1em;
  font-family: inherit;
  color: var(--basic-white);
  text-align: right;
  text-transform: uppercase;
}

.slider--1::after {
  content: "01";
}

.slider--2::after {
  content: "02";
}

.slider--3::after {
  content: "03";
}

.slider__title {
  margin-top: 78px;
  grid-column: 7 / -1;
  z-index: 400;
}

.slider__img-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 1 / span 6;
  grid-row: 1 / -1;
  padding-left: 26px;
}

.slider__text {
  margin: 0;
  margin-bottom: 27px;
  padding-right: 75px;
  grid-column: 7 / -1;
  font-family: "Open Sans", "Arial", sans-serif;
}

.slider__options {
  display: flex;
  margin: 0;
  padding: 0;
  order: 1;
  grid-column: 7 / -1;
}

.slider__options-wrap {
  display: flex;
  flex-direction: column-reverse;
  margin-right: 64px;
}

.slider__char {
  font-weight: 300;
  font-size: 13px;
  letter-spacing: 1.3px;
}

.slider__value {
  margin: 0;
  margin-bottom: 25px;
  font-size: 36px;
  letter-spacing: 3.6px;
}

.slider__button {
  padding-right: 40px;
  padding-left: 44px;
  grid-column: 7 / -1;
  align-self: center;
  justify-self: start;
}

/************ Slider Controls ************/

.slider-controls {
  position: absolute;
  right: 88px;
  bottom: 169px;
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 18px;
       column-gap: 18px;
}

.slider-controls__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 12px;
  height: 12px;
  margin-bottom: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--basic-white);
  border: 1px solid var(--basic-black);
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls__item--current::before {
  content: "";
  width: 6px;
  height: 6px;
  box-sizing: border-box;
  border: 1px solid var(--basic-black);
  border-radius: 50%;
}

/************ Popular ************/

.main__popular {
  margin-bottom: 84px;
}

.popular__grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  -moz-column-gap: 40px;
       column-gap: 40px;
}

.popular__item {
  width: 160px;
}

.popular__title {
  display: flex;
  flex-direction: column;
  row-gap: 38px;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  font-family: "Gilroy", "Arial", sans-serif;
  letter-spacing: 0.05em;
}

.popular__svg-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 160px;
  background-color: var(--special-yellow);
  transition: background-color 0.5s ease-in-out;
}

.popular__title:hover .popular__svg-wrap,
.popular__title:focus .popular__svg-wrap {
  background-color: var(--special-yellow-dark);
}

.popular__title:active {
  color: rgba(1, 1, 1, 0.3)
}

.popular__title:active .popular__icon {
  opacity: 0.3;
}

/************ Services ************/

.main__services {
  margin-bottom: 90px;
}

.services {
  padding-bottom: 68px;
  background-image: linear-gradient(transparent 100px, var(--basic-grey-light) 100px);
}

.services__grid {
  display: grid;
  grid-template-columns: 284px 760px;
  justify-content: space-between;
}

.services__tabs {
  position: relative;
  display: flex;
  padding-top: 80px;
  padding-bottom: 78px;
  row-gap: 21px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.services__tabs::before {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 600;
  width: 7px;
  background-color: var(--basic-black);
  content: "";
}

.services__link-wrap {
  min-width: 160px;
}
.services__wrapper {
  padding-top: 70px;
}

.services__item {
  padding-right: 260px;
}

.service {
  position: relative;
  display: none;
  background-position: 622px 0;
  background-repeat: no-repeat;
}

.service--current {
  display: block;
}

.service::before {
  position: absolute;
  top: 0;
  right: 0;
  content: "";
}

.service--delivery::before {
  width: 136px;
  height: 164px;
  background-image: url("../img/delivery.svg");
}

.service--warranty::before {
  top: -17px;
  right: -16px;
  width: 171px;
  height: 195px;
  background-image: url("../img/warranty.svg");
}

.service--credit::before {
  top: -22px;
  right: 8px;
  width: 156px;
  height: 188px;
  background-image: url("../img/credit.svg");
}

.service__title {
  margin-bottom: 40px;
  letter-spacing: 0.2em;
}

.service__text {
  margin: 0;
  line-height: 30px;
  letter-spacing: 0.1em;
}

.services__button {
  display: flex;
  padding-right: 0;
  padding-left: 0;
}

.services__button--current {
  width: 100%;
}

.services__button:active,
.services__button--current,
.services__button--current:hover,
.services__button--current:focus {
  color: var(--special-yellow);
  background-color: var(--basic-black);
  background-image: none;
}

.services__button--current::before {
  display: none;
}

/************ Brands ************/

.main__brands {
  margin-bottom: 86px;
}

.brands__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  -moz-column-gap: 40px;
       column-gap: 40px;
}

.brand {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  opacity: 0.2;
  transition: all 0.5s ease-in-out;
}

.brand:hover,
.brand:focus {
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
  opacity: 1;
}

/************ Info ************/

.info__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  -moz-column-gap: 40px;
       column-gap: 40px;
}

.info__column {
  position: relative;
  display: flex;
  padding-top: 57px;
  flex-direction: column;
  row-gap: 40px;
  line-height: 28px;
}

.info__column::before {
  position: absolute;
  top: 0;
  content: "";
  width: 80px;
  height: 7px;
  background-color: var(--basic-black);
}

.info__title {
  letter-spacing: 0.2em;
}

.info__text {
  margin: 0;
}

.info__button {
  min-width: 260px;
  margin-top: auto;
  align-self: flex-start;
}

.info__shipping {
  width: 475px;
}

.shipping__items {
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  margin-bottom: 13px;
}

.shipping__company {
  display: flex;
  align-items: center;
  -moz-column-gap: 24px;
       column-gap: 24px;
  margin-bottom: 15px;
  font-weight: 800;
  font-size: 16px;
  line-height: 28px;
  font-family: "Gilroy", "Arial", sans-serif;
}

.shipping__company::before {
  box-sizing: border-box;
  width: 8px;
  height: 8px;
  border: 2px solid var(--basic-grey-light);
  border-radius: 50%;
  content: "";
}

/***************************************************

                    FOOTER

***************************************************/

.main__footer {
  margin-top: 77px;
}

.footer {
  color: var(--basic-white);
  background-color: var(--basic-dark);
}

.footer__grid {
  display: flex;
  flex-direction: column;
  padding-top: 46px;
  padding-bottom: 64px;
}

.footer__top {
  margin-bottom: 40px;
}

.footer__logo {
  margin-top: 18px;
}

.footer__middle {
  margin-bottom: 48px;
}

.footer__row {
  display: flex;
  justify-content: space-between;
}

.footer__address {
  width: 240px;
  margin: 0;
  padding-right: 20px;
}

.footer__phone {
  width: 240px;
  padding-left: 20px;
  order: 1;
  text-align: right;
}

.footer__nav {
  display: flex;
  flex-wrap: wrap;
  max-width: 640px;
  margin-left: 5px;
  -moz-column-gap: 33px;
       column-gap: 33px;
}

.footer__bottom {
  align-items: center;
}

.footer__bottom::before {
  position: relative;
  top: -3px;
  content: "";
  width: 80px;
  height: 7px;
  margin-right: auto;
  background-color: var(--special-yellow-supernova);
}

/************ User Block ************/

.footer__user .user-block__link {
  color: rgba(255, 255, 255, 0.7);
}

.footer__user .user-block__link:hover,
.footer__user .user-block__link:focus {
  color: var(--basic-white);
  opacity: 1;
}

.footer__user .user-block__link:active {
  opacity: 0.3;
}

.user-block__link:hover .user-block__icon--footer {
  opacity: 0.6;
}

/************ Footer Navigation ************/

.nav__link--footer {
  color: var(--basic-white);
}

/************ Socials ************/

.socials__list {
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
}

.socials__link-icon {
  opacity: 0.3;
}

.socials__link:hover .socials__link-icon,
.socials__link:focus .socials__link-icon {
  opacity: 0.6;
}

.socials__link:active .socials__link-icon {
  opacity: 0.1;
}

/************ Copyright ************/

.footer__copyright {
  display: inline-flex;
  margin-left: 397px;
}

.copyright:hover .copyright__icon,
.copyright:focus .copyright__icon {
  opacity: 0.6;
}

.copyright:active .copyright__icon {
  opacity: 0.3;
}

/***************************************************

                    CATALOG

***************************************************/

.catalog {
  overflow: hidden;
}

.catalog__grid-header {
  margin-bottom: 50px;
  padding-left: 60px;
}

.catalog__grid-content {
  display: grid;
  grid-template-columns: 328px 1fr;
}

.catalog__products {
  margin-left: 72px;
  padding-bottom: 78px;
}

.catalog__title {
  margin-bottom: 30px;
}

/************ Breadcrumbs ************/

.breadcrumbs {
  display: flex;
}

.breadcrumbs__item {
  margin-right: 14px;
}

.breadcrumbs__link {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 19px;
  color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs__item:not(:last-child) .breadcrumbs__link::after {
  content: "";
  width: 12px;
  height: 12px;
  margin-left: 15px;
  background: url("../img/icon-arrow-nav.svg") no-repeat center;
}

.breadcrumbs__link:hover,
.breadcrumbs__link:focus {
  color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs__link:active {
  color: rgba(0, 0, 0, 0.1);
}

/************ Filter ************/

.catalog__filter {
  position: relative;
  grid-row: 1 / -3;
  background-color: var(--basic-grey-light);
}

.catalog__filter::before {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -100;
  content: "";
  width: 100vw;
  min-height: 100%;
  background-color: inherit;
}

.filter__form {
  width: 200px;
  margin: 70px 68px 0 60px;
  background-color: var(--basic-grey-light);
}

.filter__title-wrap {
  position: relative;
  z-index: 100;
  box-sizing: border-box;
  min-height: 70px;
  padding: 25px 25px 25px 60px;
  background-color: var(--basic-gainsboro);
}

.filter__title-wrap::before {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -200;
  content: "";
  width: 100vw;
  min-height: 100%;
  background-color: inherit;
}

.filter__title {
  margin: 0;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  font-family: "Gilroy", "Arial", sans-serif;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.form-filter__wrap {
  position: relative;
  width: inherit;
  margin: 0;
  padding:0;
  padding-top: 16px;
  font-size: 14px;
  line-height: 19px;
  border: none;
}

.form-filter__wrap-inner {
  display: flex;
  align-items: center;
}

.form-filter__wrap::before {
  position: absolute;
  top: 0;
  width: 100%;
  height: 2px;
  content: "";
  background-color: var(--basic-black);
}

.form-filter__price {
  margin-bottom: 30px;
}

.form-filter__color {
  margin-bottom: 40px;
}

.form-filter__bluetooth {
  margin-bottom: 40px;
}

.price {
  line-height: 16px;
  font-family: "Gilroy", "Arial", sans-serif;
}

.price__toggles {
  position: relative;
  width: 200px;
  height: 20px;
}

.price__scale {
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: var(--basic-black);
  top: 50%;
  transform: translateY(-50%);
  opacity: 0.2;
}

.price__bar {
  position: absolute;
  left: 12px;
  width: 110px;
  height: 100%;
  background-color: var(--special-green);
  ;
}

.price__toggle {
  position: absolute;
  top: 50%;
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  margin: 0;
  padding: 0;
  background-color: var(--basic-silver);
  border: 8px solid var(--basic-white);
  border-radius: 50%;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.18);
  transform: translateY(-50%);
  cursor: pointer;
}

.price__toggle--min {
  left: 0;
}

.price__toggle--max {
  left: 114px;
}

.price__min-wrap {
  margin-right: 25px;
}

.form-filter__title {
  margin: 0;
  font-weight: 800;
  line-height: 17px;
  font-family: "Gilroy", "Arial", sans-serif;
}

.form-filter__input:disabled + .form-filter__label {
  color: var(--status-disabled);
}

.form-filter__input {
  border: none;
  background-color: transparent;
}

.form-filter__button {
  width: 100%;
}

.price .form-filter__input {
  padding: 8px 0;
  width: 55px;
}

.price__title {
  margin-bottom: 30px;
}

.color__title {
  margin-bottom: 32px;
}

.color__list {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.color__item {
  display: flex;
}

.color__name {
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 42px;
}

.color__name::before {
  position: absolute;
  left: 0;
  content: "";
  box-sizing: border-box;
  width: 24px;
  height: 24px;
  border: 2px solid var(--basic-black);
  border-radius: 2px;
}

.color__name:hover {
  cursor: pointer;
}

.color__item:hover .color__name::before,
.color__input:focus + .color__name::before {
  opacity: 0.6;
}

.color__input:checked + .color__name::before,
.color__input:not(:checked):active ~ .color__name::before {
  background-image: url("../img/checkbox-tick.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.color__input:active + .color__name::before {
  opacity: 1;
}

.color__input:disabled + .color__name,
.color__input:disabled + .color__name::before {
  opacity: 0.25;
  cursor: default;
}

.color__input:checked:active + .color__name::before {
  background: none;
}

.bluetooth__title {
  margin-bottom: 30px;
}

.bluetooth__item {
  display: flex;
}

.bluetooth__item:not(:last-child) {
  margin-bottom: 16px;
}

.bluetooth__option {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.bluetooth__option::before {
  box-sizing: border-box;
  content: "";
  width: 24px;
  height: 24px;
  margin-right: 16px;
  border: 2px solid var(--basic-black);
  border-radius: 50%;
}

.bluetooth__input:checked + .bluetooth__option::after {
  position: absolute;
  left: 8px;
  content: "";
  width: 8px;
  height: 8px;
  background-color: var(--basic-black);
  border-radius: 50%;
}

.bluetooth__option:hover::before,
.bluetooth__option:hover::after {
  opacity: 0.6;
}

.bluetooth__input:active + .bluetooth__option::after,
.bluetooth__input:active + .bluetooth__option::before {
  opacity: 1;
}

/************ Sorting ************/

.catalog__sorting {
  position: relative;
  display: flex;
  min-height: 70px;
  box-sizing: border-box;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 70px;
  padding: 25px 0 25px 72px;
}

.catalog__sorting::after {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -300;
  content: "";
  width: 100vw;
  min-height: 100%;
  background-color: inherit;
}

.sorting {
  background-color: var(--basic-grey-light);
}

.sorting__title {
  margin: 0;
  margin-right: 74px;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  font-family: "Gilroy", "Arial", sans-serif;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.sorting__list {
  display: flex;
}

.sorting__list--first {
  -moz-column-gap: 32px;
       column-gap: 32px;
}

.sorting__list--second {
  display: flex;
  -moz-column-gap: 16px;
       column-gap: 16px;
  margin-left: auto;
}

.sorting__link {
  font-size: 14px;
  line-height: 19px;
  opacity: 0.3;
}

.sorting__link--up,
.sorting__link--down {
  display: block;
  width: 18px;
  height: 18px;
  opacity: 0.2;
  background: url("../img/sort-icon-up.svg") no-repeat center;
}

.sorting__link--down {
  transform: rotate(180deg);
}

.sorting__link:hover,
.sorting__link:focus {
  opacity: 0.6;
}

.sorting__link--up:hover,
.sorting__link--up:focus,
.sorting__link--down:hover,
.sorting__link--down:focus {
  opacity: 0.4;
}

.sorting__link--current,
.sorting__link:active {
  opacity: 1;
}

/************ Products ************/

.products__grid {
  display: grid;
  margin-bottom: 40px;
  grid-template-columns: 1fr 1fr;
  -moz-column-gap: 40px;
       column-gap: 40px;
  row-gap: 48px;
}

.product {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 120px;
  grid-template-rows: 380px 1fr;
  row-gap: 30px;
}

.products--new {
  position: relative;
}

.product--new::before {
  position: absolute;
  top: 29px;
  right: 27px;
  box-sizing: border-box;
  content: "new";
  display: flex;
  justify-content: center;
  align-items: center;
  width: 62px;
  height: 62px;
  font-weight: 800;
  font-size: 12px;
  line-height: 15px;
  font-family: "Gilroy", "Arial", sans-serif;
  border: 2px solid var(--basic-black);
  border-radius: 50%;
  text-transform: uppercase;
  opacity: 0.3;
}

.product__title {
  order: 3;
  margin: 0;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  font-family: "Gilroy", "Arial", sans-serif;
  letter-spacing: 0.05em;
}

.product__img-container {
  grid-column: 1 / -1;
}

.product__img {
  width: 360px;
  height: 380px;
}

.product__price {
  order: 4;
  margin-top: 3px;
  font-size: 16px;
  line-height: 18px;
  font-family: "Gilroy", "Arial", sans-serif;
  letter-spacing: 0.05em;
  text-align: right;
}

.product__links-wrap {
  position: absolute;
  top: 170px;
  left: 77px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  row-gap: 13px;
  min-width: 200px;
  text-align: center;
  opacity: 0;
}

.product:hover .product__links-wrap,
.product:focus-within .product__links-wrap {
  opacity: 1;
}

.product:hover .product__img {
  opacity: 0.3;
}

.product__compare {
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0.1em;
  opacity: 0.5;
}

.product__compare:hover,
.product__compare:focus {
  opacity: 1;
}

.product__compare:active {
  opacity: 0.1;
}

/************ Pagination ************/

.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  font-family: "Gilroy", "Arial", sans-serif;
  background-color: var(--basic-white-smoke);
}

.pagination__button {
  padding: 25px 30px;
  font: inherit;
  letter-spacing: 0.1em;
  border: none;
  background: none;
  text-transform: uppercase;
  cursor: pointer;;
}

.pagination__button--next {
  padding-left: 24px;
}

.pagination__button:hover,
.pagination__button:focus {
  background-color: var(--basic-gainsboro-light);
}

.pagination__button:active {
  color: rgba(0, 0, 0, 0.3);
}

.pagination__list {
  display: flex;
  -moz-column-gap: 30px;
       column-gap: 30px;
  max-width: 450px;
}

.pagination__link {
  opacity: 0.3
}

.pagination__link:hover,
.pagination__link:focus {
  opacity: 0.6;
}

.pagination__link--current,
.pagination__link:active {
  opacity: 1;
}

/***************************************************

                    MODAL

***************************************************/

.modal {
  position: fixed;
  top: 40px;
  left: 50%;
  z-index: 800;
  display: none;
  width: 960px;
  box-shadow: 0 10px 16px rgba(0, 0, 0, 0.15);
  transform: translateX(-50%);
}

/************ Map ************/

.map iframe {
  display: block;
}

.map__button-close {
  position: absolute;
  top: 29px;
  right: 29px;
}

/************ Feedback ************/

.feedback {
  box-sizing: border-box;
  padding: 92px 100px 60px 100px;
  font-family: "Gilroy", "Arial", sans-serif;
  background-color: var(--basic-white);
}

.modal-show {
  display: grid;
  -webkit-animation: bounce 0.7s;
          animation: bounce 0.7s;
}

.feedback--error {
  animation: shake 0.5s;
}

.feedback__form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, auto);
  -moz-column-gap: 40px;
       column-gap: 40px;
  row-gap: 32px;
}

.field {
  display: flex;
  flex-direction: column;
}

.field--max {
  grid-column: 1 / -1;
}

.field__name {
  margin-right: auto;
  margin-bottom: 10px;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
}

.field__input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 16px 20px 18px 20px;
  font-size: 14px;
  line-height: 16px;
  background-color: var(--status-normal);
  border: none;
}

.field__input--textarea {
  height: 167px;
}

.field__input--isresize {
  resize: none;
}

.field__input:hover {
  background-color: var(--status-hover);
}

.field__input:focus {
  background-color: transparent;
  outline: 2px solid var(--special-yellow);
}

.field__input--required {
  background-color: var(--status-invalid);
}

.field__input::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.4);
}

.field__input::-moz-placeholder {
  color: rgba(0, 0, 0, 0.4);
}

.field__input::placeholder {
  color: rgba(0, 0, 0, 0.4);
}

.feedback__button {
  min-width: 200px;
  margin-top: 13px;
  margin-right: auto;
  grid-column: 1 / -1;
}

.feedback__button-close {
  position: absolute;
  top: 20px;
  right: 20px;
}

@-webkit-keyframes bounce {
  0% {
    transform: translate(-50%, -2000px);
  }

  100% {
    transform: translate(-50%, 0);
  }
}

@keyframes bounce {
  0% {
    transform: translate(-50%, -2000px);
  }

  100% {
    transform: translate(-50%, 0);
  }
}

@keyframes shake {
  from, to {
    left: 15%;
    transform: translate(0, 0);
  }

  10%, 30%, 50%, 70%, 90% {
    transform: translate(-5px, 0);
  }

  20%, 40%, 60%, 80% {
    transform: translate(5px, 0);
  }
}
